# Build output
build
bin/
obj/
public/dist

# Node.js and NPM
node_modules
npm-debug.log

# .NET, Visual Studio
.vscode/
.vs/
.idea/
project.lock.json
*.[Cc]ache
!*.[Cc]ache/

# SQL Server
*.mdf
*.ldf

# Sensitive data
appsettings.*.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
