@{ ViewData["Title"] = "Home Page"; }
@if (User.Identity.IsAuthenticated) {
  <div id="container"></div>
}else {
  /* TODO here you could add MDL css reference into @section head */
  <div>
    <h1>Put you funky landing page shit here</h1>
    <a href="account/login">Log in</a>
    <a href="account/register">Register in</a>
  </div>
}

@section Scripts{
  @if (User.Identity.IsAuthenticated) {
    <script src="@ViewData["assets:main:js"]"></script>
    <script>
      window.userName =  JSON.parse('@Html.Raw(Json.Serialize(User.Identity.Name))');
    </script>
  }
  <script>
    window.ga = function () { { ga.q.push(arguments) } }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer asp-apend-version="true"></script>
}
