@{ ViewData["Title"] = "Home Page"; }

<div id="container"></div>



@section Scripts{
  <script src="@ViewData["assets:main:js"]"></script>
  @if (User.Identity.IsAuthenticated) {
    <script>
      window.userName =  JSON.parse('@Html.Raw(Json.Serialize(User.Identity.Name))');
    </script>
  }
  <script>
    window.ga = function () { { ga.q.push(arguments) } }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer asp-apend-version="true"></script>
}
