@model RegisterViewModel
@{
  ViewData["Title"] = "Sign up";
}

@section Styles{
  <style>
    .mdl-layout {
	  align-items: center;
      justify-content: center;
    }
    .mdl-layout__content {
	  padding: 24px;
	  flex: none;
    }
    .signup-button {
      width: 100%;
    }
    .mdl-textfield__error {
      visibility: visible;
    }
  </style>
}

<div class="mdl-layout mdl-js-layout mdl-color--grey-100">
  <main class="mdl-layout__content">
    <div class="mdl-card mdl-shadow--6dp">
      <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
        <h2 class="mdl-card__title-text">Sign up for an account</h2>
      </div>
      <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <div class="mdl-card__supporting-text">
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" asp-for="Email" />
            <label class="mdl-textfield__label" asp-for="Email">Email</label>
            <span class="mdl-textfield__error" asp-validation-for="Email"></span>
          </div>
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="password" asp-for="Password" />
            <label class="mdl-textfield__label" asp-for="Password">Password</label>
            <span class="mdl-textfield__error" asp-validation-for="Password"></span>
          </div>
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="password" asp-for="ConfirmPassword" />
            <label class="mdl-textfield__label" asp-for="ConfirmPassword">Confirm Password</label>
            <span class="mdl-textfield__error" asp-validation-for="ConfirmPassword"></span>
          </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
              <button class="signup-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">Sign up</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </main>
</div>